.toggleButton {
  width: 50px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 16px;
}

.toggleButtonSpeed {
  background-color: red;
}

.toggleButtonAggressive {
  background-color: red;
}

.toggleButtonAlcohol {
  background-color: red;
}

.toggleButtonRedlight {
  background-color: red;
}

.toggleButtonOver70 {
  background-color: red;
}

.toggleButtonTeen {
  background-color: red;
}

